
/*

https://web.facebook.com/MERKRING


Msrakendryin

https://wa.me/qr/3HNSLUOVBIDYH1

https://www.snapchat.com/add/msrakendry

https://m.vk.com/id596775925

https://www.youtube.com/channel/UCCYZ8N65oN_z-PVYErKZQDA

https://msrakendry.tumblr.com/

https://twitter.com/msrakendry

https://www.linkedin.com/in/msra-kendry-1a2361148

https://www.pinterest.com/msrakendry/

https://github.com/msrakendry

https://u.wechat.com/kKBLPMi1RrRmz7_9qF0fLWI

https://askfm.onelink.me/FaQr/qr?profile=msrakendry&utm_source=copy_link&utm_medium=android

https://line.me/ti/p/4Ug4cE6xLG

https://m.twitch.tv/msrakendry

msrakendry.wordpress.com




*/

/*
https://cssgradient.io
https://thenounproject.com/icon
https://www.veryicon.com/search









 
    a{color:#00abee;text-decoration:none}
    a:hover,a:focus{color:#4a5050;text-decoration:none}
    a :focus{outline:1px dotted #00abee}
    em,i{font-style:italic;font-family:"Source Sans Pro",Trebuchet MS,Helvetica,Arial,Verdana,sans-serif}
    

  * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      scroll-behavior: smooth;
  }


  
  * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }


/*******************************************************************************************************************************/












/*------------------------------------https://roznama.io-------------------------------------------*/
html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px ;
    font-size: 100%;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;

}


/*-------------------------------------------------end-az-------------------------------------*/

/*-------------------------------------------------end-az-------------------------------------*/


a{
    color: rgb(178, 189, 212);    font-size: 1rem;
    text-decoration: none;
 
}

/*-------------------------------------------------end-az-------------------------------------*/
/*-------------------------------------------------start--buttonz-------------------------------------*/

button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
  }
   
  /*--------------------------------------
  
                        .simplebar-scrollbar:before {
                           position: absolute;
                           content: "";
                           background: black;
                           border-radius: 7px;
                           left: 0;
                           right: 0;
                           opacity: 0;
                           -webkit-transition: opacity 0.2s linear;
                           transition: opacity 0.2s linear;
                       }
  
  
 
[data-simplebar] {
   position: relative!important;
   z-index: 0!important;
   overflow: hidden!important;
   -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

/*
.simplebar-content {
    overflow-x: scroll!important;
    overflow-y: hidden!important;
    -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
    min-height: 100%!important;
 }
  
  
.simplebar-track:hover .simplebar-scrollbar:before,
.simplebar-track .simplebar-scrollbar.visible:before {
    /* When hovered, remove all transitions from drag handle */

    /*
    opacity: 0.5;
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
}



  -----------end--buttonz-------------------------------------*/



.padd{
    padding: 0px 1rem;
}




    ul, li, p, section, h1, h2, h3, h4, h5, h6, dd, dt, header, footer, nav, main, section, article {
        padding: 0px ;
        margin: 0px auto;
        list-style: none;

        }



        li {
            list-style: none;
        }

/*
    
ul, li, p, section, div, h1, h2, h3, h4, h5, h6, dd, dt, header, footer, nav, main {
    padding: 0px;
    margin: 0px;
    
    }

body, html, h1, h2, h3, h4, h5, h6, input, textarea, table, th, td, embed, blockquote, ul, ol, li, dl, dt, dd, div, em, form, legend, abbr, img, input, video, footer, header, menu, output, ection, i, strong, span, sub, sup, p, a {
    font-family: avenir,sans-serif!important;
}


*/

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(147 197 253 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}


*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: 'zero' on, 'ss01' on;
    font-style: normal;
    --color-overlay-dark-000: rgba(13, 53, 120, 0.06);
    --color-overlay-dark-100: rgba(5, 24, 61, 0.1);
    --color-overlay-dark-200: rgba(5, 24, 61, 0.2);
    --color-overlay-dark-400: rgba(7, 8, 13, 0.4);
    --color-overlay-dark-600: rgba(3, 17, 47, 0.6);
    --color-overlay-dark-800: rgba(18, 29, 51, 0.8);
    --color-overlay-light-060: var(--color-white-060);
    --color-overlay-light-100: var(--color-white-100);
    --color-overlay-light-200: var(--color-white-200);
    --color-overlay-light-400: var(--color-white-400);
    --color-overlay-light-600: var(--color-white-600);
    --color-overlay-light-800: var(--color-white-800);
    --color-overlay-light-900: var(--color-white);
    --color-blue-000: #ECF5FE;
    --color-blue-100: #D8EBFD;
    --color-blue-200: #BBDBFC;
    --color-blue-300: #85B5F8;
    --color-blue-400: #619FF7;
    --color-blue-500: #3D89F5;
    --color-blue-600: #0C6CF2;
    --color-blue-700: #1656B9;
    --color-blue-800: #144699;
    --color-blue-900: #0D3578;
    --color-green-000: #E6FAEC;
    --color-green-100: #D1F0DB;
    --color-green-200: #AEE6CA;
    --color-green-300: #8BDCB3;
    --color-green-400: #17CE73;
    --color-green-500: #00B26B;
    --color-green-600: #00994C;
    --color-green-700: #006633;
    --color-green-800: #004C26;
    --color-green-900: #003319;
    --color-red-000: #FFD9D6;
    --color-red-100: #FFECEB;
    --color-red-200: #FFC3BF;
    --color-red-300: #F6A7A1;
    --color-red-400: #FF3344;
    --color-red-500: #EA1F30;
    --color-red-600: #CF1726;
    --color-red-700: #A50D0D;
    --color-red-800: #8D0B0B;
    --color-red-900: #790606;
    --color-orange-000: #FFF6EB;
    --color-orange-100: #FFECD6;
    --color-orange-200: #FFE1BF;
    --color-orange-300: #F6CEA1;
    --color-orange-400: #FFA133;
    --color-orange-500: #EA8D1F;
    --color-orange-600: #D46A00;
    --color-orange-700: #AF5200;
    --color-orange-800: #8C4100;
    --color-orange-900: #6A2E00;
    --color-purple-000: #EFECFE;
    --color-purple-100: #DED8FD;
    --color-purple-200: #C6BBFC;
    --color-purple-300: #ADA6FF;
    --color-purple-400: #9080FF;
    --color-purple-500: #7349F2;
    --color-purple-600: #5322E5;
    --color-purple-700: #451DBF;
    --color-purple-800: #371799;
    --color-purple-900: #250B73;
    --color-teal-000: #E6F8FA;
    --color-teal-100: #D1EDF0;
    --color-teal-200: #AEE1E6;
    --color-teal-300: #6CD0D9;
    --color-teal-400: #00B6C7;
    --color-teal-500: #12A5B2;
    --color-teal-600: #0E828C;
    --color-teal-700: #055E66;
    --color-teal-800: #08474C;
    --color-teal-900: #052F33;
    --color-grey-000: #F0F2F7;
    --color-grey-100: #DFE3EB;
    --color-grey-200: #CCD2DE;
    --color-grey-300: #B1B8C7;
    --color-grey-400: #98A1B2;
    --color-grey-500: #828B9E;
    --color-grey-600: #677184;
    --color-grey-700: #50596B;
    --color-grey-800: #353F52;
    --color-grey-900: #121D33;
    --color-dark-000: #D2D4D6;
    --color-dark-100: #B8B9BD;
    --color-dark-200: #989BA1;
    --color-dark-300: #797D84;
    --color-dark-400: #63676F;
    --color-dark-500: #4D515B;
    --color-dark-600: #3B3E46;
    --color-dark-700: #2C3038;
    --color-dark-800: #20242C;
    --color-dark-900: #0E121B;
    --color-white-000: #FFFFFF;
    --color-white-060: rgba(255, 255, 255, 0.06);
    --color-white-100: rgba(255, 255, 255, 0.1);
    --color-white-200: rgba(255, 255, 255, 0.2);
    --color-white-400: rgba(255, 255, 255, 0.4);
    --color-white-600: rgba(255, 255, 255, 0.6);
    --color-white-800: rgba(255, 255, 255, 0.8);
    --color-tier-silver: #C2C9D6;
    --color-tier-gold: #F5B73D;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-transparent: transparent;
    --color-pink-300: #FF51BE;
    --color-pink-400: #F00699;
    --color-pink-500: #DE0082;
    --color-new-green-300: #2AEFBC;
    --color-new-green-400: #06D6A0;
    --color-new-green-500: #00B083;
}


:root {
    --siteMaxWidth: 75rem;
    --contentMaxWidth: 62rem;
    --copyMaxWidth: 42rem;
    --smScreen: 48rem;
    --mdScreen: 62rem;
    --lgScreen: 75rem;
    --smBorderRadius: 2px;
    --lgBorderRadius: 4px;
}

 

































