 
.lineout {
  position: relative;
  display: inline;
  vertical-align: middle;
  }

  
  .lineout.plain:before {
  width: 1px;
  height: 4px;
  opacity: 0;
  -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  }



.lineout.plain:after {
  display: none;
  }

  .lineout:before,
.lineout:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: rgba(32, 129, 23, 0.7);
  content: "";
  }

a:not(.button):link:hover .lineout.plain:before,
.faux-link:focus:focus .lineout.plain:before {
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }

/****************start hover with underline ******************/

/*****
.lineout:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }


***/


 
.tesHO1,.tesHO2 {
  position: relative;
  display: inline;
  vertical-align: middle;
  }

  
  .tesHO1,.tesHO2,.undeH1,.undeH2:before {
  width: 1px;
  height: 2px;
  opacity: 0;
  -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  }



.tesHO1,.tesHO2,.undeH1,.undeH2:after {
  display: none;
  }

  .tesHO1,.tesHO2:before,.tesHO1,.tesHO2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: rgba(21, 21, 21, 0.7);
  content: "";
  }



  
a:not(.button):link:hover .tesHO1,.tesHO2,.undeH1,.undeH2:before,
.faux-link:focus:focus .tesHO1,.tesHO2,.undeH1,.undeH2:before {
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }

/****************start hover with underline ******************/

/*****
.lineout:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }


***/
