@import url("     ");





 
 
 #__nex{
    width: 100%;
 
 }
 

 #main-cont{
    margin: 0px auto;
    padding: 0;
 }

 

  

/*******************************************start--headerz****************************************/

.holder_header {
    display: flex;
    margin: 0px auto;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100 ;

background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

    position: relative ;
    top: 35.4px;

 }


 .stFrHadi {
    position: relative;
    box-sizing: content-box;
     max-width: 80rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 1rem;
    width: 100%;
    height: 4.75rem;
    font-size: 1rem;
}

.heFrDiMe_nu1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.heFr_ul1 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1rem;
}
.heFr_li {
  min-width: 4.75rem;
  margin-right: 1.25rem;
  display: inline-block;
}



.heFr_ulLia {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      color: rgb(204, 210, 222);
      transition: color 500ms ease 0s, background-color 500ms ease 0s;
      cursor: pointer;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      position: relative;
      width: 100%;
}

.heFr_li_But {
  height: 100%;
  cursor: pointer;
  position: relative;
  
  
}
.heFr_li_But svg {
  border-radius: 4px;
  transition: background-color 0.3s ease 0s;
  color: rgb(255, 255, 255);
}

.heFr_liButSet {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  padding: 0px 0.75rem;
  margin-right: 0.5rem;
}

.set_heFr_li_But_frDi {
   opacity: 0;
  visibility: hidden;
}


.Header__N1 .heFr_ul1 .heFr_li_But:hover .set_heFr_li_But_frDi {
  opacity: 1 ;
 visibility: visible;
 translate:visibility 0.3s ease-in;

}

.heFr_li_But_frDi {
  position: absolute;
  display: flex;
  margin: 0px auto;
  top: 0px;
  left: -39.4rem;
  width: auto;
  padding-top: 3rem;

}

.heFr_li_But_frDi::before {
  content: "";
  border-style: solid;
  border-width: 0px 0.75rem 0.75rem;
  border-color: transparent transparent rgb(255, 255, 255);
  position: absolute;
  top: -0.75rem;
  left: 40.1rem;
  margin: 0px auto;
  width: 1.5rem;
  padding-top: 3rem;
}

.heNa2Div1 {
  background-color: rgb(21, 15, 44);
  border-radius: 0.75rem;
  box-shadow: rgb(29 30 32 / 40%) 0.75rem 1.5rem 4rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.5rem;
  width: 83.4rem;
 }


 .heNa2Di {
  margin-right: 1.25rem;
  width: auto;
  /* display: flex; */
}

 
.heNa2_pTit {
  font-weight: 600;
   margin-bottom: 1.25rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  line-height: 1.5rem;
  height: 26px;
  color: #faf4f4;
  text-align: center;
}
 
.header_ul_sub_1 {
  display: inline;
}

.heLi2Set {
  margin-bottom: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.he_ulLi2_a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0.1875rem top 0.5625rem;
  border-radius: 0.25rem;
  color: rgb(103, 113, 133);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0px -0.25rem;
  padding: 0.25rem 0.5rem;
  position: relative;
  transition: background 300ms ease 0s, color 300ms ease 0s, padding-right 300ms ease 0s;
  white-space: nowrap;
}


.he_ulLi2_a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.lasHeDiSet {
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}


.heDi2 {
  position: relative;
  height: 2.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.heDi2_set {
  margin-left: auto;
  max-width: 22rem;
}


.kvQKhY > * + :not(:last-child), .kvQKhY > :first-child {
  margin-right: 1.25rem;
}

.logIn_set {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.01em;
  border-radius: 0.5rem;
  border: 0.125rem solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background: none;
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  line-height: 143%;
  width: auto;



}
.singinUp_set {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.01em;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  color: rgb(18, 29, 51);
  background: rgb(255, 255, 255);
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  line-height: 143%;
  width: auto;

}
 
.MuHe-humDi1 {
  height: 100%;
  position: relative;
  display: none;
  cursor: pointer;
}

.humDi_set {
  padding: 0.5rem;
}

.humBut1, .humBut2 {
  appearance: none;
  background: none;
  border: none;
  height: 1.4rem;
  padding: 0px;
  transform: rotate(0deg);
  transition: transform 500ms ease 0s;
  min-width: 1.5rem;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}


.hum_hi2  {
  display: none;
  margin-left: 1.25rem;
}
 
    /*---------------------------------------start--logoz------------------------------------*/


.seHeLo {
    flex-shrink: 0;
    margin-right: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    }
    
    .logo {
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      border: 3px solid #fff;
      text-decoration: none;
      font-weight: 900;
      font-size: 1.1em;
      line-height: 1;
      vertical-align: middle;
      margin-right: 1.5rem;
      color: rgb(255, 255, 255);
      flex-shrink: 0;
      margin-right: 0.5rem;
      }




      .Elli-psisM .idhROZ .mega_set1 :hover span {
        padding-right: 25px;
      }
      
      .Elli-psisM .idhROZ .mega_set1 :hover span:after {
        opacity: 1;
        right: 0;
      }
    
      .heNa2Div1 .header_ul_sub_1 .heSlideHo:hover{
        background-color: #b6d1f5;
        border-radius: 2px;
    
    
      }
    


      .heFr_li_But:hover {
        background-color: #00994C;
        background: none rgba(255, 255, 255, 0.1);
        border: none;
        padding: 0px;
        color: rgb(255, 255, 255);
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 2.75rem;
        transition: background-color 300ms ease-in-out 0s;
    
    }



    .sinup_hover:hover{
  
      border: 2px solid rgba(245, 245, 245, 0.877);
     transition: background-color 300ms ease-in-out 0s;
     background: none rgba(255, 255, 255, 0.1);
  
  
  }
  
  
  
  .login_hover:hover{
       background: radial-gradient(circle, rgb(102, 219, 190) 0%, rgb(175, 236, 184) 100%);
      border: 2px solid rgba(245, 245, 245, 0.877);
      transition: background-color 300ms ease-in-out 0s;
  
  
  }
  
 

      
    /*---------------------------------------end--logoz------------------------------------*/
 

/*---------------------------------------------start--searchz------------------------------------*/


    .search_set:hover {
      transition: background-color 300ms ease-in-out 0s;
      background: none rgba(16, 2, 80, 0.1);
      border-radius: 2.75rem;
  }
  
  .search_set {
      width: 15rem;
      float: right;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }



  .searchbox-open {
    margin: 0;
    padding: 0;
    width: 100%;
}

.searchbox {
    position: relative;
    height: 40px;
    min-width: 40px;
    width: 0%;
    float: right;
    overflow: hidden;
    border-radius: 42px;
     
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    transition: background-color 300ms ease-in-out 0s;
    background: none rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}


.searchbox-input {
  padding: 0 42px 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  margin: 0;
  font-size: 20px;
  color: #f7f2f2;
  border-radius: 40px;
  transition: background-color 300ms ease-in-out 0s;
  background: none rgba(255, 255, 255, 0.1);
}


.searchbox-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  font-family: verdana;
  font-size: 22px;
  right: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms ease-in-out 0s;
  background: none rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}

/*---------------------------------------------start--searchz------------------------------------*/


























 