
:root, ::after, ::before, ::backdrop {
    --native-dark-accent-color: #a9a9a9;
    --native-dark-bg-color: #292929;
    --native-dark-bg-image-color: rgba(0, 0, 0, 0.25);
    --native-dark-bg-image-filter: brightness(50%) contrast(200%);
    --native-dark-border-color: #555555;
    --native-dark-box-shadow: 0 0 0 1px rgb(255 255 255 / 10%);
    --native-dark-cite-color: #92de92;
    --native-dark-fill-color: #7d7d7d;
    --native-dark-font-color: #dcdcdc;
    --native-dark-link-color: #8db2e5;
    --native-dark-opacity: 0.85;
    --native-dark-text-shadow: none;
    --native-dark-transparent-color: transparent;
    --native-dark-visited-link-color: #c76ed7
  }
  
  :root {
    color-scheme: dark;
    accent-color: var(--native-dark-accent-color);
  }
  
  html a:visited, 
  html a:visited > * {
    color: var(--native-dark-visited-link-color) !important;
  }
  
  a[ping]:link,
  a[ping]:link > *,
  :link:not(cite) {
    color: var(--native-dark-link-color) !important;
  }
  
  html cite,
  html cite a:link,
  html cite a:visited {
    color: var(--native-dark-cite-color) !important;
  }
 
  
 html {
     font-size: 100%;
     text-rendering: optimizeLegibility !important;
     }
 
  body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    background: #FFF;
    overflow-x: hidden;
    font-family: "Gotham SSm 4r","Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
     width: 100%;
    }
 body.homepage {
    background-color: #fff;
    }
 
   













































