@import url("  ");
body{
    background-color: #464343;
}

.c-carousel-paging__container {
    position: relative;
    padding-right: 100px;
}

.mFullWidthBlockTitle {
    font-size: 1.75rem;
    line-height: 2rem;
}

.mFullWidthBlockTitle {
    color: #297c9d;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


/*******************************************************/
.mFullWidthBlockTitle small {
    font-size: .9375rem;
    line-height: 1.1875rem;
}
.mFullWidthBlockTitle small {
    display: inline;
}



small {
    color: #707070;
    font-size: .75rem;
    line-height: 1rem;
}
/*
.mFullWidthBlockTitle small {
    display: block;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.125rem;
    margin: 0;
    padding: 5px 0 0 0;
}

}


    /***********************************************************/

.nutext1{
    display: block;
    position: absolute;
    top: 14px;
    transform: translateY(-50%);
    right: 0;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
    color: #f2f6f6;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.mFullWidthBlockTitle {
    color: #297c9d;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h2, .h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro",Trebuchet MS,Helvetica,Arial,Verdana,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin: 0;
    padding: 0 0 10px 0;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}
html[native-dark-active] .c-carousel-paging {
    color: var(--native-dark-font-color);
}





/********************************************************/
.nextPORDUCdiv{
    width: 31px;
    height: 31px;
    border-radius: 50%;
  
 
 }
 .nextPORDUCarrT{
    cursor: pointer;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    top: 250px;
 
 }
 
 .nextPORDUCarrv{
    cursor: pointer;
    position: absolute;
    top: 250px;
    left: 0;
    padding: 0;
    margin: 0;
 }


 .hoverBUTslide:hover{
    
 }
 .nextPORDUCdiv:hover{
    background-color: #4057ee;
    opacity: .8;
 }
  
 /********************************************************/
 
 .butPROSH{
    display: none;
 }




/************************************ end arrew set******************************************/
.productSLIDE4{
    width: 100%;
}


.sliderTO-FRimz{
    max-width: 100%;
    position: relative;
 }

/* Hide the images by default */
.mySl1_toscript {
    display: none;
  }
  
/* Slideshow container */
.slideFR {
    max-width:86% ;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */

  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

/************************************ end arrew set******************************************/

.frSlul1 .prFRsli1p{
     display: none;
    height: 1000px;
    box-shadow :#14f557  2px ;
    transition: box-shadow .25s ease,border .25s ease;

}

.frSlul1 {
    display:flex  ;
    list-style:none
 
    
}

.frsliLI1 {
    margin:0;
    padding:3px;
    box-sizing:border-box
    } 

.frSLIart1{
    background:rgb(253, 251, 251);
    position:relative;
    padding:0;
    min-height:100%;
    box-shadow: #b6b4b4 0 0 5px;
    
}


.frSLIart1:hover{
    box-shadow: #555353 0 0 5px;


}





.frSLI_artDI1{
    padding:.9375rem .9375rem 4.0625rem .9375rem;

}
    
.frSLI_a1{display:block;margin-bottom:5px}

    
.frSLIdiv_beIMAME{padding-top:56.25%;position:relative;display:block}

.frSLIdiv_beIMAME{
    padding-top:56.25%;position:relative;display:block;

}

.frSLIdiv_beIMAME img{
    position:absolute;top:0;left:0;width:100%;height:100%;display:block;
}

.frSLIdiv_beIMAME img[
    loading="lazy"]{color:rgb(56, 50, 50);
    }

.frSLIseIN{padding-top:100%} 

.fiSDLimHOVER{opacity:0;transition:opacity .25s ease}

.fiSLIDpproIM{padding:10px 7px 0 7px}

.frSLIh2SET{
    font-size:1rem;
    font-weight:600;
    color:#373737;
    text-decoration:none;
    display:block;
    margin: 0;

}

.fiSLIDp1{
    font-size: 1.1rem;
    line-height: 1.625rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color:rgb(56, 50, 50) ;  

}




.fiSLIDp1 .fiSLIDp1pence{
    font-weight: 600;
    margin: 0;
    padding: 0;
    color:rgb(56, 50, 50);   
    padding: 0 ;

}

.fiSLIDp2{
    margin:0 5px;
    color:rgb(56, 50, 50);   
    font-size:1.25rem;
    line-height:1.625rem;
}



/*
.fiSLIDpspan{
    height:0;
    left:-9999px;
    margin:0;
    padding:0;
    position:absolute;
    text-indent:-9999px;
    width:0;z-index:-1
 
}

*/

.fiSLIDp3{
    font-size:.875rem;
    line-height:1.25rem;
    display:inline-block;
    color:rgb(56, 50, 50);   
    margin:0;
    padding:0;
}

.fottFRSLID{
    margin:0;padding:23px 0 0 0;
}

.SLIDrating {
    padding-left: 70px;
    position: relative;
    line-height: .8125rem;
    color: #f1f3f3;
    font-size: .75rem;
    min-height: 13px;
    box-sizing: border-box;
}


.FRSLIDstart {
    height: 100%;
    width: 65px;
    display: block;
    background: url("../Images/iconmonstr-star-3.svg") repeat-x 0 0;
    position: absolute;
    top: 0;
    height: 13px;
    left: 0;
    color: #00abee ;
    background-size: 13px 13px;
}

.FRSLIDtotalRAT{
    color:rgb(56, 50, 50);   
}


.FRSLIDOVERLaYciecle{
    position:absolute;
    top:-6px;left:-6px;
    top:23px;left:23px;
}
 
.frSLIdeliveryP{
    color: #f6f3f3;

}

.overlayfrSLI {
    background:#297c9d;
    border-radius:100%;
    box-sizing:border-box;
    color:#fff;
    display:none;
    font-size:.875rem;
    font-weight:600;
    height:4rem;
    line-height:.9375rem;
    margin:0;
     padding:15px 2px 2px 2px;
    text-align:center;
    text-transform:uppercase;
    width:4rem;
    z-index:3;
    transform:scale(.7);
    transform:scale(1);
}

.overlayfrSLIin{
    background:#1c86bf;
    display:block;

}

.overlayfrSLI .brs1{
    display:block;
    margin:0;
    padding:0;
    color:rgb(212, 67, 137) ;
}


.frSLIdel{
    min-height:0;
    margin:10px 0 0 0;
}



.FIslid {
    margin:0;
    padding:23px 0 0 0;
}


.frSLIdon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

 
 
.frSLIdon:hover{
    opacity: 0.7;
  }



  .frSLIdonBUT{
    display:inline-block;
    margin:0;padding:0 20px;
    height:2.5rem;
    line-height:2.5rem;
    background:#315062;
    color:#fff;
    font-size:.9375rem;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    box-sizing:border-box;
    text-align:center;
    border:0;
    font-family:"Source Sans Pro",Trebuchet MS,Helvetica,Arial,Verdana,sans-serif
}

.frSLIdonBUT {
    transition: background 0.25s ease;
}

.frSLIdonBUTin {
    width: 100%;
}


.isOffscreenFRsli{
    height:0;
    left:-9999px;
    margin:0;
     padding:0;
    position:absolute;
    text-indent:-9999px;
    width:0;z-index:-1
}




/*************************************delivery--car--icon******************************************/
.frSLIdelIMAE {
    background-image: url("../Images/logistics-delivery-truck-in-movement-svgrepo-com.svg");
    padding-left: 40px;
}




.FIslid {
    margin: 0;
    padding: 0;
    font-size: .75rem;
    line-height: 1.125rem;
    color: #707070;
    background: url("../Images/logistics-delivery-truck-in-movement-svgrepo-com.svg") no-repeat 0 2px;
    background-size: auto 15px;
    min-height: 17px;
    padding-left: 32px;
}
 
    @media(hover){a:hover img{opacity:1}}
 
